.container { 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-card-container { 
    width: 25%;
    border: 5px solid red;
    padding: 10px;
}

.mat-card-header { 
    display: flex;
    justify-content: center;
}

.mat-form-field { 
    width: 100%;
}

.table-container {
    width: 100%;
}

.mat-card-actions { 
    display: flex;
    justify-content: center;
}

.login-button { 
    width: 25%;
}