<div class="container">
   <div class="l-toolbar-container">
      <div class="l-toolbar-logo-container">
        <img class="l-toolbar-logo" src="../../assets/img/gym-logo.jpg">
      </div>
      <div class="l-toolbar-actions-container">
        <div class="l-action-button" (click)="goToLoginPage()">
          Login
        </div>
        <div class="l-action-button" (click)="goToAboutPage()">
          Despre noi
        </div>
      </div>
   </div>
   <div class="l-title-container">
     <div>Comunitatea</div>
     <div>Pump Gym</div>
   </div>
   <div class="l-content-container">
      <div class="l-content-introduction">
        <div class="l-content-introduction-title">
          Dragă coteț,
        </div>
        <div class="l-content-introduction-text">
          Intră în comunitatea Pump Gym, rampa ta de lansare către un stil de viață sănătos și productiv! Devino membru al comunității și alătură-te celor 2000 de membrii din toată țara. Împreună vom putea conecta pasiunea pentru fitness în smoloz.
          A fi activ are multe beneficii, totul, de la sănătatea inimii la calitatea somnului la funcția creierului, dar a ști că este bine pentru tine nu înseamnă întotdeauna că este ușor să mergi la sală. Dacă ați întâmpinat dificultăți pentru a intra într-o rutină de antrenament, aruncați o privire la câteva metode dovedite pentru a vă da jos de pe canapea și a transpira.
        </div>
      </div>
      <div class="l-content-introduction">
        <div class="l-content-introduction-title">
          Dragă coteț,
        </div>
        <div class="l-content-introduction-text">
          A fi activ are multe beneficii, totul, de la sănătatea inimii la calitatea somnului la funcția creierului, dar a ști că este bine pentru tine nu înseamnă întotdeauna că este ușor să mergi la sală. Dacă ați întâmpinat dificultăți pentru a intra într-o rutină de antrenament, aruncați o privire la câteva metode dovedite pentru a vă da jos de pe canapea și a transpira.
        </div>
      </div>
   </div>
   <div class="l-member-button-container">
      <button class="l-member-button" (click)="goToRegisterPage()">
        DEVINO MEMBRU
      </button>
   </div>
</div>